/* -----------------------------공통----------------------- */
* {
  box-sizing: border-box;
}

body {
  display: block;
}

.bodyBox {
  display: block;
  margin: 1% 10% 2% 10%;
}

a {
  color: inherit;
  text-decoration: none;
}

.headArea {
  display: grid;
  grid-template-columns: 1fr 10fr;
  margin: 2% 0 2% 2%;
}

.headArea img {
  width: 130px;
}

.headArea ul {
  padding: 2%;
  text-align: right;
}

.headArea li {
  color: black;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 20px;
  display: inline-block;
}


/* ------------------------ footer -------------------------- */
footer {
  display: grid;
  grid-template-columns:4fr 1fr;
  margin: 0px 10%;
  background-color: dimgrey;
}

.bottom {
  color: DarkGray;
  font-size: 0.9em;
  padding-left: 18px;
}

.icon {
  padding: 10%;
  text-align: right;
}

/* ---------------------------- index page --------------------------- */
.banner {
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}

.content {
  color: white;
  position: relative;
  top: 250px;
  width: 400px;
  margin: 0 auto;
}

#contOne {
  text-decoration: overline;
}
span {
  font-size: 1.1em;
}
#contTwo {
  font-size: 2em;
}

/* --------------------------- brand page ------------------------- */
.bannerOne {
  background-image: url("./img/bannerOne.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
}

#contTwoOne {
  color: white;
  position: relative;
  top: 90px;
  font-size: 1.6em;
  padding-left: 50px;
}

.introduce {
  display: block;
  text-align: center;
  margin: 10%;
}

.empty {
  margin: 0 10%;
}

hr {
  border: 2px solid silver;
  width: 100px;
}

.upCi {
  display: block;
  margin: 0 10%;
}
.ci {
  display: block;
  margin: 0 10%;
  padding: 15%;
}

.ci img {
  width: 100%;

}

.logoIntro {
  display: block;
  margin: 0 15% 10% 15%;
  text-align: center;
}

/*------------------------ Menu page ------------------------ */
.bannerTwo {
  background-image: url("./img/bannerTwo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
}

.menuBackground {
  display: grid;
  margin: 20px 10%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.menu img {
  width: 100%;
}

.menu {
  background-color: whitesmoke;
}

.menu h2 {
  padding-left: 10px;
}
.description {
  padding-left: 15px;
}

/* --------------------------------gallery page ----------------------- */
.bannerThree {
  background-image: url("./img/bannerThree.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
}

.gallery {
  margin: 3% 10%;
}

.column {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.column img {
  width: 100%;
}

/* ----------------------------- map page -------------------------- */
.bannerFour {
  background-image: url("./img/bannerFour.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
}

.hourTop {
  margin: 0 10%;
}

.businessHour {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.businessHour img {
  margin: 5% 0;
  width: 100%;
}

.hours {
  margin: 5% 0;
  padding: 10%;
  text-align: center;
}

.hours strong {
  font-size: 1.2em;
  color: tomato;
}

.map {
  display: grid;
  margin: 2% 10%;
  text-align: center;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit);
}

.map img {
  width: 100%;
}

@media (max-width: 479px) {

  .headArea {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2% 0 2% 2%;
  }

  .headArea img {
    width: 100px;
  }

  .headArea li {
    color: black;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;
  }

  .bottom {
    color: DarkGray;
    font-size: 0.7em;
    padding-left: 18px;
  }

  #contOne {
    text-decoration: overline;
    font-size: 1.3em;
  }
  span {
    font-size: 0.8em;
  }
  #contTwo {
    font-size: 1.3em;
  }
  #contTwoOne {
    color: white;
    position: relative;
    top: 80px;
    font-size: 1.2em;
    padding: 5%;
  }

  .menuBackground {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .menu img {
    width: 100%;
  }

  .column {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .column img {
    width: 100%;
  }

  .businessHour {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  /* .businessHour img {
    display: none;
  } */

  .map {
    display: block;
    margin: 5%;
  }
}
